.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: fixed;
  top: 40vh;
}

.subtitle {
  position: fixed;
  bottom: 2vh;
  text-align: center;
}

.body {
  background-color: #000;
  color: #00FF00;
  font-family: monospace;
}